*.pyc
/venv
__pycache__
__pycache__/
/pref_net/src/common
/pref_net/src/benchmark
/pref_net/src/scripts
/pref_net/src/results/
/pref_net/src/log
/pref_net/src/__pycache__
/pref_net/src/results
/pref_net/gym_mujoco_planar_snake.egg-info
/pref_net/src/old_files
/pref_net/src/Goo_version
/pref_net/src/BrownGooFiles
/pref_net/src/LemkeFiles
/pref_net/src/common/__pycache__
/pref_net/src/agents/__pycache__
.idea/
.PowerFolder
.vscode
README_Lemke.md
requirements.txt
/pref_net/dist
/pref_net/build
/pref_net/gym_mujoco_planar_snake.egg-info
/log
/results
Notes
